Практична робота 3. Аналіз даних. Робота даними csv
Варіант 21 Сорокін Олександр

Завдання 2.
Скачайте датасет  Amazon Top 50 Bestselling Books 2009 – 2019, що знаходиться  за посиланням

1. Прочитайте csv файл (метод read_csv)

In [530]:
import numpy as np
import pandas as pd

In [531]:
info = pd.read_csv(r'C:\Users\Italbey\Desktop\дз\мн\bestsellers with categories.csv', encoding='latin1')
info

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

2.	Виведіть перші 10 рядків (метод head)

In [532]:
info.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

3.	Виведіть розміри датасету (метод shape)

In [533]:
rows, columns = info.shape
print(f"Кількість рядків: {rows}")
print(f"Кількість стовбців: {columns}")

Кількість рядків: 550
Кількість стовбців: 7

Питання: Про скільки книг зберігає дані датасет?

In [534]:
print(f"Кількість книг: {rows}")

Кількість книг: 550

4.	Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

In [535]:
info.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
info

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

5.	Вивести кількість пропусків у кожному стовпчику.Питання : Чи є в якихось змінних пропуски? (Так / ні)

In [536]:
propuski = info.isna().sum()
print (propuski)
if info.isna().any().any():
    print("yes")
else:
    print("no")

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
no

6.	За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 
Питання : Які є унікальні жанри?

In [537]:
unikalni = info["genre"].unique()
print ("унікальні жанри:", unikalni)

унікальні жанри: ['Non Fiction' 'Fiction']

7.	Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
Питання: Максимальна ціна?
Питання: Мінімальна ціна?
Питання: Середня ціна?
Питання: Медіанна ціна?

In [538]:
costmax = info["price"].max()
costmin = info["price"].min()
costAvg= info["price"].mean()
costMed= info["price"].median()
print("Максимальна ціна:", costmax)
print("Мінімальна ціна:", costmin)
print("Середня ціна:", costAvg)
print("Медіанна ціна:", costMed)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

8.	Виконайте наступні завдання з пошуку і сортування даних
Питання: Який рейтинг у датасеті найвищий? 
Питання: Скільки книг мають такий рейтинг? 
Питання: Яка книга має найбільше відгуків? 
Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?

In [539]:
MaxRating = info["user_rating"].max()
NumMaxRating = len(info[info["user_rating"] == MaxRating])
MaxRev = info.loc[info["reviews"].idxmax()]["name"]
BookPrice = info[info["year"] == 2010].nlargest(50, "user_rating")
MaxBookPrice = BookPrice.loc[BookPrice["price"].idxmax()]["name"]
PriceTop50Fiction = info[(info["year"] ==2012) & (info["genre"] == "Fiction") & (info["user_rating"] <= 50)]
NePridymalNazvanie = len(info[(info["year"].isin([2010, 2011])) & (info["user_rating"] == 4.9)])
print("Найвищий рейтинг у датасеті:", MaxRating)
print("Кількість книг з найвищим рейтингом:", NumMaxRating)
print("Книга з найбільшою кількістю відгуків:", MaxRev)
print("Найдорожча книга серед Топ-50 у 2010 році:", MaxBookPrice)
print("Кількість книг жанру Fiction у Топ-50 у 2012 році:", PriceTop50Fiction)
print("Кількість книг з рейтингом 4.9 у 2010 та 2011 роках:", NePridymalNazvanie)

Найвищий рейтинг у датасеті: 4.9
Кількість книг з найвищим рейтингом: 52
Книга з найбільшою кількістю відгуків: Where the Crawdads Sing
Найдорожча книга серед Топ-50 у 2010 році: Publication Manual of the American Psychological Association, 6th Edition
Кількість книг жанру Fiction у Топ-50 у 2012 році:                                                   name                author  \
48                    Catching Fire (The Hunger Games)       Suzanne Collins
104                                Fifty Shades Darker             E L James
105  Fifty Shades Freed: Book Three of the Fifty Sh...             E L James
106  Fifty Shades of Grey: Book One of the Fifty Sh...             E L James
108  Fifty Shades Trilogy (Fifty Shades of Grey / F...             E L James
119  Game of Thrones Boxed Set: A Game of Thrones/A...    George R.R. Martin
135                                          Gone Girl         Gillian Flynn
146  Goodnight, Goodnight Construction Site (Hardco...  Sherri Duskey Rinker
238                      Mockingjay (The Hunger Games)       Suzanne Collins
245                          Oh, the Places You'll Go!             Dr. Seuss
353                                 The Casual Vacancy          J.K. Rowling
365                             The Fault in Our Stars            John Green
394                                   The Great Gatsby   F. Scott Fitzgerald
400  The Harbinger: The Ancient Mystery that Holds ...         Jonathan Cahn
409                          The Hunger Games (Book 1)       Suzanne Collins
411             The Hunger Games Trilogy Boxed Set (1)       Suzanne Collins
432     The Mark of Athena (Heroes of Olympus, Book 3)          Rick Riordan
455                                      The Racketeer          John Grisham
458  The Serpent's Shadow (The Kane Chronicles, Boo...          Rick Riordan
468     The Third Wheel (Diary of a Wimpy Kid, Book 7)           Jeff Kinney
538  Winter of the World: Book Two of the Century T...           Ken Follett

     user_rating  reviews  price  year    genre
48           4.7    22614     11  2012  Fiction
104          4.4    23631      7  2012  Fiction
105          4.5    20262     11  2012  Fiction
106          3.8    47265     14  2012  Fiction
108          4.5    13964     32  2012  Fiction
119          4.6     5594      5  2012  Fiction
135          4.0    57271     10  2012  Fiction
146          4.9     7038      7  2012  Fiction
238          4.5    26741      8  2012  Fiction
245          4.9    21834      8  2012  Fiction
353          3.3     9372     12  2012  Fiction
365          4.7    50482     13  2012  Fiction
394          4.4    11616      7  2012  Fiction
400          4.6    11098     13  2012  Fiction
409          4.7    32122      8  2012  Fiction
411          4.8    16949     30  2012  Fiction
432          4.8     6247     10  2012  Fiction
455          4.3    14493     18  2012  Fiction
458          4.8     2091     12  2012  Fiction
468          4.7     6377      7  2012  Fiction
538          4.5    10760     15  2012  Fiction
Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: 1

9.	Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.

In [540]:
result = info.groupby("genre").agg({"price" : ["max", "min"]})
MinFiction = result.loc["Fiction", ("price","max")]
MaxFiction = result.loc["Fiction", ("price","min")]
MinNonFiction = result.loc["Non Fiction", ("price","max")]
MaxNonFiction = result.loc["Non Fiction", ("price","min")]
print("Максимальна ціна для жанру Fiction:", MinFiction)
print("Мінімальна ціна для жанру Fiction:", MaxFiction)
print("Максимальна ціна для жанру NonFiction:", MinNonFiction)
print("Мінімальна ціна для жанру NonFiction:", MaxNonFiction)

Максимальна ціна для жанру Fiction: 82
Мінімальна ціна для жанру Fiction: 0
Максимальна ціна для жанру NonFiction: 105
Мінімальна ціна для жанру NonFiction: 0